<ion-header-bar class="transparent-nav about-nav" style="z-index:11; background: #c1c1c1;">
  <button ng-click="closeInfo()" class="button pull-right ion-close-round circle-exit"></button>
</ion-header-bar>

<ion-content padding="true" style="background: #c1c1c1;">

  <ul class="list list-inset glass-nav">
    <li ng-click="showMenu('section1')" class="item">
      Go To SubMenu 1
    </li>
    <li ng-click="showMenu('section2')" class="item">
      Go To SubMenu 2
    </li>
  </ul>

</ion-content>
